    
    html{
        scroll-behavior: smooth;
    }
    *{
        font-family: 'Baloo Tamma 2', cursive;
        margin:0;
        padding:0
    }
    :root{
        --head-color: #96fc32;
        --head-background: #01a358;
    }
    .dock{
        background: #02CC6F;
        width: 100%;
        height: 31vw;
        position: absolute;
        top: 0;
        z-index: -1;
    }
    .dock::after{
        content: "";
        width: 100%;
        height: 15vw;
        background: #02CC6F;
        position: absolute;
        top: 30vw;
        clip-path: ellipse(58% 43% at 50% 2%);
    }
    .wallpapper{
        position: fixed;
        top: 0;
        z-index: -2;
    }
    .wallpapper img{
        min-width: 100vw;
        max-height: 100vh;
        object-fit: cover;
    }

    .he{
        display:flex;
        justify-content:center;
    }
    .he>div:nth-child(1){
        background: white;
        position: absolute;
        width: 15.8vw;
        height: 4.4vw;
        border-radius: 5px;
        transform-style: preserve-3d;
    }
    .he>div:nth-child(2){
        z-index: 2;
        display: flex;
        margin-top: 0.4vw;
    }
    @property --gradient-angle{
        syntax: "<angle>";
        initial-value: 0deg;
        inherits: false;
    }

    .he>div:nth-child(1)::before, .he>div:nth-child(1)::after{
        content:"";
        position: absolute;
        inset:-4px;
        border-radius: inherit;
        background: conic-gradient(from var(--gradient-angle),#B931FC , #5D12D2, #B931FC);
        transform: translateZ(-1px);
        animation: border-animate 3s infinite linear;

    }

    .he>div:nth-child(1)::after{
        filter: blur(5px);
    }
    
    
    #year{
        text-align: center;
        font-size: 1.5vw;
        font-weight: bold;
        height: 3.6vw;
        width: 10.5vw;
        color: #1F5BBF;
        border: 0;
    }

    #year~input{
        cursor: pointer;
        width: 3.8vw;
        aspect-ratio: 1;
        font-size: 1.5vw;
        font-weight: bold;
        color: #3d547a;
        background: linear-gradient(45deg, #09C6D9, #09E3BB, #09E340, #09E340);
        animation: gradient 2s infinite alternate linear;
        background-size: 300%;
        border: none;
        border-radius: 1.2vw;
    }

    .month {
        display: inline-grid;
        grid-template-columns: auto auto auto auto auto auto auto;
        border-radius: 1.5vw;
        overflow: hidden;
    }
    .date{
        position: relative;
        border-bottom: 1px solid lime;
        border-left: 1px solid #3a67a317;
        --common: 10vw;
        height:calc(5*var(--common)/10);
        width:var(--common);
        text-align:center;
        background:#8be2ea;
        line-height: 1.4vw;
        padding-top: 1.8vw;
        box-sizing:border-box;
        color:#394F70;
        font-weight: bold;
        font-size: 1.6vw;;
    }
    .today{
        background :#5A9AEB;
        color: #fff
    }
    .today .dateBangla{
        color: #fff;
    }

    .dateBangla{
        width: 1.5vw;
        aspect-ratio: 1;
        line-height: 2.2vw;
        position: absolute;
        bottom:1%;
        left: 12%;
        padding:0 2px;
        color: 	#70394f;
        position: absolute;
        font-size: 1.3vw;
        border-radius: 3px;
    }
    .dateArabi{
        position: absolute;
        left: 100%;
        bottom: 20%;
        color: rgb(25, 68, 146);
        position: absolute;
        font-size: 11pt;
        width: 15px;
        height: 15px;
        transform:translate(-150%,50%);
    }
    .mname{
        text-align:center;
        color: var(--head-color);
        font-size: 1.5vw;
        background: var(--head-background);
        margin-top: 0.8vw;
        padding:1vw 0;
        width: 9vw;
        border-radius: 1.5vw 1.5vw 0 0;;
        
    }
    .Welcome{
        font-size: 3vw;
        color: #8F1FBF;
        text-align:center;
        margin: 0
    }
    .det{
        padding:0;
        margin:0;
        color:#496203;
        text-align:center;
        font-size:1.8vw;
    }
    
    .daw{
        width: 8.8vw;
        height: 14.8vw;
        position: absolute;
        transform: translate(6vw, 100px);
        border-radius: 45%;
        background: url(calender.png) center;
        background-size: 10vw;
        z-index: 11;
    }
    
    .top {
        height: 3.5vw;
        width: 100%;
        background: #11bf0bbf;
        position: sticky;
        top: 0;
        text-align: center;
        padding-bottom: 20px;
        color:#1F5BBF;
        font-weight: bold;
        font-size: 3.5vw;
        
        z-index:10;
        cursor: pointer;
    }


.d{
    border-bottom:2px solid;
    background: var(--head-background);
    color: var(--head-color);
}
.f{
    border-bottom:2px solid;
    background: #C70039;
    color:var(--head-color)
}

.fri:hover, .holyday, .holyday .dateBangla{
    background: #C70039;
    color: beige;
}
.s:hover, .su:hover,.mon:hover,.tue:hover,.wed:hover,.thu:hover{ transition: background-color 0.5s ease-out;}
.s:hover, .su:hover,.mon:hover,.tue:hover,.wed:hover,.thu:hover, .mark_bangla{
    background: #18c5d6;
    color:beige;
}

.date:hover .dateBangla{
    color: #fff;
}

.time{
    display: flex;
    justify-content: center;
    width: 9vw;
    font-size: 2.6vw;
    box-sizing: border-box;
    padding: 0.6vw 0;
    color: #09E3BB;
    position: absolute;
    right: 6vw;
    top: 100px;
    background: #018044;
    cursor: pointer;
    word-spacing: -3px;
    font-weight: bold;
    border-radius: 1.6vw;
}

.calender{
    display: grid;
    justify-items: center;
}
.mgroup{
    display: grid;
    justify-items: center;
    margin-top: 80px;
}
@property --blury{
    syntax: "<dimension>";
    initial-value: 11px;
    inherits: false;
}
.mgroup>div:first-child{
    position: absolute;
    --common: 80vw;
    width: var(--common);
    height: calc(5.1/10*var(--common));
    background: hsla(0, 0%, 100%, 0.34);
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.38);
    border-radius: 3.5vw;
    z-index: -1;
    --blury:11px;
    backdrop-filter: blur(var(--blury));
}
.mname_Bangla{
    font-size:1.2vw;
    text-align: left;
    color: #0a3e83;
    margin: 0;
}

.Bangla-year{
    margin: 70px 0 -80px;
    color: #0a3e83;
    font-size: 1.8vw;
    text-align:center;
}
.holyday::after,
.holyday::before{
    --color: #333;
    position: absolute;
    top: -40PX;
    left: 85px;        
    transform: translateY(var(--translateY)) translateX(-50%);
    opacity:0;
    visibility:hidden;
    transition: all cubic-bezier(0.30, 0.94, 0.54, 1.54) 500ms;
    transform-origin: bottom center;
    font-size: 16px;
}
.holyday::before{
    content: attr(tool-tip);
    --translateY: -100%;
    width: max-content;
    max-width: 20rem;
    padding: 10px;
    background: var(--color);
    border-radius: 10px;
    box-shadow:  0 0 8px rgba(0, 0, 0, 0.934);
}

.holyday::after{
    content: '';
    --translateY: 0;
    border: 10px solid transparent;
    border-top-color: var(--color);
    transform-origin: top center;
}

.holyday:hover::before,
.holyday:hover::after{
    opacity: 1;
    visibility: visible;
    translate: -15px;
    top: -11px
}

@keyframes gradient{
    0%  {background-position: left;}
    100%  {background-position: right}
}

@keyframes border-animate{
    from{
        --gradient-angle:0deg;
    }
    to{
        --gradient-angle:360deg
    }
}
